@font-face {
  font-family: primary-fonts;
  src: url(../fonts/Tungsten-Bold.ttf);
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

h1 {
  font-family: primary-fonts;
  font-size: 56px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 1;
}

p {
  font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1.4;
}
