@font-face {
  font-family: fontsTitle;
  src: url(../fonts/BeaufortforLOL-Bold.ttf);
}

@font-face {
  font-family: fontsTitle2;
  src: url(../fonts/Tungsten-Bold.ttf);
}

h1 {
  font-family: fontsTitle;
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1.6;
}

.home {
  padding: 128px 16px 64px 16px;
}

.introduction {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  margin: 40px 0 0 0;
  width: 600px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  border: 1px solid;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 176px;
  height: 40px;
  border-radius: 10px 0 10px 0;
}

#first-button {
  background-color: rgb(208, 168, 92);
  border-color: #d0a85c;
}

#second-button {
  background-color: rgb(9, 197, 227);
  border-color: #09c5e3;
}

.special-skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 232, 225);
  padding: 64px 0 64px 24px;
}

.title-special-skills {
  font-family: fontsTitle2;
  letter-spacing: 5px;
  color: #0f1923;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
}

.jett-img {
  height: 736px;
}
