@font-face {
  font-family: class-fonts;
  src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: nav-fonts;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: background-title-fonts;
  src: url(../fonts/DIN\ Next\ LT\ W04\ Medium.ttf);
}

body {
  background-color: rgb(235, 239, 227);
}

.navbar {
  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  background-color: #111;
  align-items: center;
  font-family: nav-fonts;
  z-index: 3;
  transition: 0.6s;
}

.navbar.sticky {
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  filter: brightness(9);
  width: 45px;
  transition: 0.6s;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.cmoon {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
  padding: 2px 13px 2px 13px;
  border-radius: 6px;
}

.cmoon:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 70, 85);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
}

.cmoon:hover::after {
  width: 100%;
  transition: 0.4s;
}

.cmoon:hover {
  border-color: white;
}

.navbar .nav-links li {
  text-transform: uppercase;
}

.navbar .nav-links ul {
  display: flex;
  list-style: none;
  color: white;
  padding: 0;
}

.cmoon {
  list-style: none;
  margin: 0px 25px 0 25px;
  font-size: 1em;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  right: 10px;
  filter: invert(100%);
  width: 48px;
  height: 61px;
}

#bg-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.title-section {
  position: relative;
  color: white;
  background-color: #111;
  padding: 256px 0 256px 0;
}

.title {
  position: relative;
  text-align: center;
  font-family: primary-fonts;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 120px;
  z-index: 1;
  animation: aparition 0.8s ease-in;
}

/* .background-title {
  position: absolute;
  z-index: 1;
  font-family: background-title-fonts;
  text-transform: uppercase;
  color: #dde0d6;
  font-size: 3.2vw;
} */

.home {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 32px 16px;
}

.class-list {
  font-family: class-fonts;
}

.class-valorant {
  font-family: class-fonts;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
  animation: aparition2 0.8s ease-in;
  color: rgb(255, 70, 85);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: fit-content;
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  border-color: rgba(194, 192, 192, 0.1);
  box-shadow: 10px 5px 5px #cacaca;
  margin: 0 0 40px 0;
  transform: scale(1);
  transition: transform 0.1s ease;
  padding: 0;
}

.card:hover > .card-image {
  height: 100px;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover > .name-agent-and-agent-class-container {
  height: 100px;
}

.card-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

.card-image {
  height: 200px;
  border-radius: 7px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: height 0.25s ease-in;
}

.name-agent-and-agent-class-container {
  text-align: center;
  /* padding: 31px 0; */
  height: 0px;
  overflow: hidden;
  transition: height 0.25s ease-in;
}

.name-agent-and-agent-class {
  font-family: primary-fonts;
  font-weight: 200;
  font-size: 24px;
  margin: 0 0 21px 0;
}

#link-agent {
  font-weight: 200;
  font-family: primary-fonts;
  text-decoration: none;
  color: #a0a0a0;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.color-duellist {
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes aparition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes aparition2 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 900px) {
  .navbar .menu-hamburger {
    display: block;
  }

  .logo {
    padding: 20px;
  }

  .nav-links {
    top: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    /* opacity: 0; */
    margin-left: -100%;
    transition: all 0.5 ease;
  }

  .mobile-menu {
    /* opacity: 1; */
    /* margin-top: 0; */
    margin-left: 0;
    transition: 0.7s ease;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .cmoon {
    margin: 20px 0 20px 0;
  }

  .cmoon a {
    color: black;
  }

  .navbar {
    height: 80px;
    padding: 20px;
    padding-left: 0;
  }

  .menu-hamburger {
    padding: 10px;
  }

  .no-scroll {
    overflow: hidden;
  }
}
