@font-face {
  font-family: class-fonts;
  src: url(../fonts/Anton-Regular.ttf);
}

.title-section {
  color: white;
  background-color: #fb4554;
  padding: 128px 0 128px 0;
}

.title {
  text-align: center;
  font-family: primary-fonts;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 58px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 32px 16px;
}

.class-list {
  font-family: class-fonts;
}

.class-valorant {
  font-family: class-fonts;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 281px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgba(194, 192, 192, 0.1);
  box-shadow: 10px 5px 5px #cacaca;
  margin: 0 0 40px 0;
}

.card-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

.card-image {
  height: 150px;
  border-radius: 7px;
}

.name-agent-and-agent-class {
  font-family: primary-fonts;
  font-weight: 200;
  font-size: 24px;
}

description-under-name {
}

#link-agent {
  font-weight: 200;
  font-family: primary-fonts;
  text-decoration: none;
  color: #a0a0a0;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.color-duellist {
  color: red;
}

.name-agent-and-agent-class-container {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
