.introduction {
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
    font-family: "Beaufort for LOL", serif;
    font-style: italic;
    text-transform: uppercase;
};
}
